{{!-- <h1>Name: {{sinhvien.ten}}</h1>
<h1>Age: {{sinhvien.tuoi}}</h1>
<h1>Email: {{sinhvien.email}}</h1>
<h1>BOD: {{sinhvien.ngaysinh}}</h1> --}}

<table border="1">
    <tr>
        <th colspan="2">Student Information</th>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{sinhvien.ten}}</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>{{sinhvien.tuoi}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{sinhvien.email}}</td>
    </tr>
    <tr>
        <th>Birthday</th>
        <td>{{sinhvien.ngaysinh}}</td>
    </tr>
</table>